In [115]:
import pandas as pd
import numpy as np

In [116]:
df = pd.read_csv("/content/c_coarse.in.txt")
df.head()

                    10
0  3 akuof byyii dlust
1              1 xdozp
2  3 dlust luncl qzfyo
3              1 xdozp
4  3 akuof luncl vxglq

In [117]:
df_likes = df.iloc[[i for i in range(0,len(df),2)]]
df_likes.columns = ["likes"]
df_likes.index = np.arange(len(df_likes))
df_likes.head()

                 likes
0  3 akuof byyii dlust
1  3 dlust luncl qzfyo
2  3 akuof luncl vxglq
3  3 dlust vxglq luncl
4  3 dlust xveqd tfeej

In [118]:
df_dislikes = df.iloc[[i for i in range(1,len(df),2)]]
df_dislikes.columns = ["dislikes"]
df_dislikes.index = np.arange(len(df_dislikes))
df_dislikes.head()

  dislikes
0  1 xdozp
1  1 xdozp
2  1 qzfyo
3        0
4        0

In [119]:
df2 = pd.concat([df_likes,df_dislikes], axis=1)
df2.head()

                 likes dislikes
0  3 akuof byyii dlust  1 xdozp
1  3 dlust luncl qzfyo  1 xdozp
2  3 akuof luncl vxglq  1 qzfyo
3  3 dlust vxglq luncl        0
4  3 dlust xveqd tfeej        0

In [120]:
liked_ingredients = []
for like in df2.likes:
  for l in like.split(" "):
    if not l.isnumeric():
      liked_ingredients.append(l)

liked_ingredients

['akuof',
 'byyii',
 'dlust',
 'dlust',
 'luncl',
 'qzfyo',
 'akuof',
 'luncl',
 'vxglq',
 'dlust',
 'vxglq',
 'luncl',
 'dlust',
 'xveqd',
 'tfeej',
 'qzfyo',
 'vxglq',
 'luncl',
 'luncl',
 'xdozp',
 'xveqd',
 'byyii',
 'xdozp',
 'tfeej',
 'dlust',
 'akuof',
 'tfeej',
 'vxglq',
 'dlust',
 'byyii']

In [121]:
disliked_ingredients = []
for dislike in df2.dislikes:
  for d in dislike.split(" "):
    if not d.isnumeric():
      disliked_ingredients.append(d)

disliked_ingredients

['xdozp', 'xdozp', 'qzfyo', 'byyii', 'sunhp', 'qzfyo', 'xveqd', 'akuof']

In [122]:
target_ingredients = set(liked_ingredients) - set(disliked_ingredients)
target_ingredients

{'dlust', 'luncl', 'tfeej', 'vxglq'}

In [127]:
str1 = ""
for t_ing in target_ingredients:
  str1 = str1+" "+t_ing

ans = str(len(target_ingredients))+" "+str1
newfile = open("Ans_Coarse.txt","w+")
newfile.write(ans)

26

In [124]:
def score_simulator(df, target_ingredients):
  score=0
  for like in df.likes:
    like_ing = like.split(" ")[1:]
    if all(item in list(target_ingredients) for item in like_ing):
      score+=1

  return score

In [125]:
score_simulator(df2, list(target_ingredients))

1